<div class="row">
    <div class="col-md-12">

	<h2>About</h2>
	<p>This application is written in <a href="http://www.oracle.com/technetwork/java/index.html">Java</a>. The backend is created with <a href="http://projects.spring.io/spring-boot/">Spring Boot</a>, <a href="http://projects.spring.io/spring-data-jpa/">Spring Data JPA</a> and protected <a href="http://projects.spring.io/spring-security/">Spring Security</a>. The frontend is written created with <a href="http://angularjs.org">AngularJS</a> except a little part for embedded maps.</p>
	
	<p>I've blogged about my goals rewriting the old application from scratch here <a href="http://info.michael-simons.eu/2014/02/20/developing-a-web-application-with-spring-boot-angularjs-and-java-8/">Developing a web application with Spring Boot, AngularJS and Java 8</a>, the source code is available here <a href="https://github.com/michael-simons/biking2">github.com/michael-simons/biking2</a>. In case anyone is interested, i'd probably publish the repository on GitHub as well.
	
	<p>Until early 2014 this application was <a href="http://www.ruby-lang.org">Ruby</a> and <a href="http://www.sinatrarb.com/">Sinatra</a> based and consisted mainly of one big *.rb file. The blog post about the old application is still online here: <a href="http://info.michael-simons.eu/2009/07/29/creating-a-self-containing-mvc-application-with-sinatra/">Creating a self containing mvc application with Sinatra</a>, together with the old <a target="_self" href="/misc/biking.rb">source code</a>.</p>

	<p>If you like this application or have any questions, just drop me a line at <a href="mailto:misi@planet-punk.de">misi@planet-punk.de</a>.</p>
	<p>
	    <img alt="Some Rights Reserved" id="somerights20" src="/img/somerights20.gif" style="vertical-align:text-top;">
	</p>	
    </div>
</div>