<div class="row">
    <div class="col-md-12">

	<h2>About</h2>
	<p>This application is written in <a href="http://www.oracle.com/technetwork/java/index.html">Java</a>. The backend is created with <a href="http://projects.spring.io/spring-boot/">Spring Boot</a>, <a href="http://projects.spring.io/spring-data-jpa/">Spring Data JPA</a> and protected by <a href="http://projects.spring.io/spring-security/">Spring Security</a>. The frontend is created with <a href="http://angularjs.org">AngularJS</a> except a little part for embedded maps.</p>

	<p>I've blogged about my goals rewriting the old application from scratch here <a href="http://info.michael-simons.eu/2014/02/20/developing-a-web-application-with-spring-boot-angularjs-and-java-8/">Developing a web application with Spring Boot, AngularJS and Java 8</a>, the source code is available here <a href="https://github.com/michael-simons/biking2">github.com/michael-simons/biking2</a>.</p>

	<p>
	    There's also a little companion app, a JavaFX 8 client obviously called <a href="https://github.com/michael-simons/bikingFX">BikingFX</a> written in October 2014, after JavaOne. If you like, get started with JavaFX 8 right here: <a href="http://info.michael-simons.eu/2014/10/22/getting-started-with-javafx-8-developing-a-rest-client-application-from-scratch/">Developing a JavaFX REST client application from scratch</a>.
	    <br />
	    The architecture and api of this service is documented <a target="_self" href="/docs/index.html">here</a>. The beautiful documentation is partially generated and then rendered using <a href="http://projects.spring.io/spring-restdocs/">Spring REST Docs</a>, a really clever solution, that ties api documentation to valid tests. The structural template is based on <a href="http://www.arc42.org">arc42</a>, a standardized structure for construction, documentation and communication of software architectures.
	</p>

	<p>Until early 2014 this application was <a href="http://www.ruby-lang.org">Ruby</a> and <a href="http://www.sinatrarb.com/">Sinatra</a> based and consisted mainly of one big *.rb file. The blog post about the old application is still online here: <a href="http://info.michael-simons.eu/2009/07/29/creating-a-self-containing-mvc-application-with-sinatra/">Creating a self containing mvc application with Sinatra</a>, together with the old <a target="_self" href="/misc/biking.rb">source code</a>.</p>

	<p>If you like this application or have any questions, just drop me a line at <a href="mailto:misi@planet-punk.de">misi@planet-punk.de</a>.</p>

	<div class="row">
	    <div class="col-md-3">
		<h3>Build</h3>

		<table class="table table-condensed table-bordered table-striped">
		    <thead>
			<tr>
			    <th>Component</th>
			    <th>Version</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="(key, value) in info.versions" ng-show="key !== 'app'">
			    <td>{{ key }}</td>
			    <td>{{ value }}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>

	<h3>Runtime</h3>
	<p>
	    Running build <strong>{{info.versions.app || 'n/a'}}</strong> from <strong>{{info.buildDate || 'unknown'}}</strong>
	    for <strong>{{ humanizedUptime || 'n/a'}}</strong>
	    on Java <strong>{{ info.env["java.runtime.version"] || 'n/a'}}</strong>,
	    using <strong>{{ metrics["mem.used"] | kibibytes }}</strong> of <strong>{{ metrics.mem | kibibytes }}</strong>.
	    Maximal available heap memory is <strong>{{ metrics["heap"] | kibibytes }}</strong>.
	</p>

	<div data-ng-highchart id="chart-memory"  config="memoryConfig" ></div>

	<p>
	    <img alt="Some Rights Reserved" id="somerights20" src="/img/somerights20.gif" style="vertical-align:text-top;">
	</p>
    </div>
</div>