<div class="row">
    <div class="col-md-12">
	<h2>Michis milage</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 biking_picture hidden-xs">
	<a ng-href="{{ currentLinkToBikingPicture || '#' }}" id="a_biking_picture_link">	                                                                        
	    <img alt="Michis biking pictures…" id="a_biking_picture" ng-src="{{ currentBikingPicture || '/img/default-biking-picture.jpg' }}" style="height:120px; border:1px solid #003366;" />
	</a>
    </div>

    <div class="col-md-9 col-lg-10">
	<p>This is a little page about my biking activities. I like to track my milage and to take pictures of the places where i go. The biking pictures on the left are a subset from my pictures on <a href="http://dailyfratze.de/michael">dailyfratze.de</a>, all of which are tagged with "Radtour" (Bicycle Tour). The picture will refresh itself every few seconds.</p>
	<p>See more biking pictures in the <a href="/gallery">gallery</a> or my facebook album <a href="http://www.facebook.com/album.php?aid=155553&amp;id=535518282&amp;l=6094f409e1">Biking 2010</a>. You can also have a look at my collection of <a href="/tracks">tracks</a> and download them as GPX files.<br />Sometimes i track my tours live and you can stalk me <a href="/location">here</a>. Maybe i'm just around the corner ;)</p>
	<p>
	    Since {{ summary.dateOfFirstRecord | date:'mediumDate' }}, i pedalled
	    <strong>{{ summary.total | number:2 }}km</strong>
	    on different bikes. That was an average of <strong>{{ summary.average | number:2 }}km</strong> per month.
	    <span ng-hide="summary.worstPeriod === null || summary.bestPeriod === null">
		<br />
		The worst month was {{ summary.worstPeriod.startOfPeriod | date:'MMMM yyyy'}} with {{ summary.worstPeriod.value | number:0}}km, the best month was {{ summary.bestPeriod.startOfPeriod | date:'MMMM yyyy' }} with {{ summary.bestPeriod.value | number:0}}km.
	    </span>
	</p>		
	<p>This little application is not only about my biking activities, but should also showcase my current skillset as Developer as well. Read more <a href="/about">here</a> or at my <a href="http://info.michael-simons.eu">blog</a>.</p>
	
	<p><img alt="Biker Smilie" id="header_smilie" src="/img/biker.gif" /></p>
    </div>
</div>

