<div class="row">
    <div class="col-md-12">
	<h2>Michis milage</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 biking_picture hidden-xs">
	<a ng-href="{{ currentLinkToBikingPicture || '#' }}" id="a_biking_picture_link">	                                                                        
	    <img alt="Michis biking pictures…" id="a_biking_picture" ng-src="{{ currentBikingPicture || '/img/default-biking-picture.jpg' }}" style="height:120px; border:1px solid #003366;" />
	</a>
    </div>

    <div class="col-md-9 col-lg-10">
	<p>This is a little page about my biking activities. I like to track my milage and to take pictures of the places where i go. The biking pictures on the left are a subset from my pictures on <a href="http://dailyfratze.de/michael">dailyfratze.de</a>, all of which are tagged with "Radtour" (Bicycle Tour). The picture will refresh itself every few seconds. You can see more biking pictures in the dedicated <a href="/gallery">gallery</a>.</p>
	<p>You can also have a look at my collection of <a href="/tracks">tracks</a> and download them as GPX files.<br />Sometimes i track my tours live and you can stalk me <a href="/location">here</a>. Maybe i'm just around the corner ;)</p>
	<p>
	    Since {{ summary.dateOfFirstRecord | date:'mediumDate' }}, i pedalled
	    <strong>{{ summary.total | number:2 }}km</strong>
	    on different bikes. That was an average of <strong>{{ summary.average | number:2 }}km</strong> per month.
	    <!-- Comparing with == to check for null and undefined objects -->
	    <span ng-hide="summary.worstPeriod == null || summary.bestPeriod == null">
		<br />
		The worst month was <strong>{{ summary.worstPeriod.startOfPeriod | date:'MMMM yyyy'}}</strong> with <strong>{{ summary.worstPeriod.value | number:0}}km</strong>, the best month was <strong>{{ summary.bestPeriod.startOfPeriod | date:'MMMM yyyy' }}</strong> with <strong>{{ summary.bestPeriod.value | number:0}}km</strong>.
	    </span>
	</p>			
	<p>
	    This little application is not only about my biking activities, but should also showcase my current skillset as Developer as well.<br />
	    Check out the <a href="/about">about page</a> or read the full story in my blog at <a href="http://info.michael-simons.eu/2014/02/20/developing-a-web-application-with-spring-boot-angularjs-and-java-8/">info.michael-simons.eu</a>.
	</p>
	<p>Standing on the shoulders of giants &mdash; I'm very happy to use the following technologies and framework amongst others to built this application:</p>
	<p>
	    <a href="http://www.oracle.com/technetwork/java/index.html"><img src="/img/duke.png" class="giant" alt="Java" title="Java"/></a>&#160;
	    <a href="http://projects.spring.io/spring-framework/"><img src="/img/spring-logo.png" class="giant" alt="Spring Framework" title="Spring Framework"/></a>&#160;
	    <a href="http://projects.spring.io/spring-boot/"><img src="/img/spring-boot-logo.png" class="giant" alt="Spring Boot" title="Spring Boot"/></a>&#160;
	    <a href="http://arc42.de"><img src="/img/arc42-logo.png" class="giant" alt="arc42" title="arc42"/></a>
	</p>
	<p>Read more on how those giants are used in the architectural documentation: <a target="_self" href="/docs/index.html">biking2, Architecture and API</a>.</p>
    </div>
</div>

