<div class="row">
    <div class="col-md-12">
	<h2>Current year</h2>
	<alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index);">{{alert.msg}}</alert>
	<p>This chart shows my current biking activities.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-lg-7">	
	<div data-ng-highchart id="chart-current-year" config="currentYearConfig"></div>	
    </div>    
    <div class="col-md-4 hidden-sm hidden-xs">
	<table class="table table-condensed" ng-hide="currentYearConfig.userData.worstPeriod === null || currentYearConfig.userData.bestPeriod === null">
	    <thead>
		<tr><th></th><th>Month</th><th>Milage (km)</th></tr>
	    </thead>
	    <tbody>		
		<tr><th>Worst:</th><td>{{ currentYearConfig.userData.worstPeriod.startOfPeriod | date:'MMMM'}}</td><td>{{currentYearConfig.userData.worstPeriod.value | number:0}}</td></tr>
		<tr><th>Best:</th><td>{{ currentYearConfig.userData.bestPeriod.startOfPeriod | date:'MMMM'}}</td><td>{{currentYearConfig.userData.bestPeriod.value | number:0}}</td></tr>
	    </tbody>
	</table>
	<p>Current milage this year is {{currentYearConfig.userData.currentYearSum}}km, this is a monthly average of {{currentYearConfig.userData.average | number:0}}km.</p>
	<p ng-hide="currentYearConfig.userData.preferredBike === null">Preferred bike in {{currentYearConfig.userData.currentYear}} is my "{{currentYearConfig.userData.preferredBike.name}}" so far.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	<button type="button" class="btn btn-default" data-ng-click="openNewMilageDlg();">New milage</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
	<h2>History</h2>
	<p>Those are the overall statistics since 2009. You see a massive decline in 2011, when i exessivly programmed on <a href="http://dailyfratze.de">Daily Fratze 2</a>. I hope the trend in the last 2 months of 2012 continues… Biking tends to keep me sane ;)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-lg-7">
	<div data-ng-highchart id="chart-history"  config="historyConfig" ></div>				
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
	<table class="table table-condensed" ng-hide="historyConfig.userData.worstPeriod === null || historyConfig.userData.bestPeriod === null">
	    <thead>
		<tr><th></th><th>Month</th><th>Milage (km)</th></tr>
	    </thead>
	    <tbody>		
		<tr><th>Worst:</th><td>{{ historyConfig.userData.worstPeriod.startOfPeriod | date:'MMMM yyyy'}}</td><td>{{historyConfig.userData.worstPeriod.value | number:0}}</td></tr>
		<tr><th>Best:</th><td>{{ historyConfig.userData.bestPeriod.startOfPeriod | date:'MMMM yyyy'}}</td><td>{{historyConfig.userData.bestPeriod.value | number:0}}</td></tr>
	    </tbody>
	</table>
	<p>Monthly average: {{historyConfig.userData.average | number:0}}km.</p>
    </div>
</div>