<div class="row">
    <div class="col-md-12">
	<h2>Current year</h2>
	<alert data-ng-repeat="alert in alerts" type="alert.type" data-ng-close="closeAlert($index);">{{alert.msg}}</alert>
	<p>This chart shows my current biking activities.</p>			
	<div data-ng-highchart id="chart-current-year" config="currentYearConfig" ></div>			
	<div>
	    <br />	
	    <button type="button" class="btn btn-default" data-ng-click="open();">New milage</button>
	</div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
	<h2>History</h2>
	<p>Those are the overall statistics since 2009. You see a massive decline in 2011, when i exessivly programmed on <a href="http://dailyfratze.de">Daily Fratze 2</a>. I hope the trend in the last 2 months of 2012 continues… Biking tends to keep me sane ;)</p>
	<div data-ng-highchart id="chart-history"  config="historyConfig" ></div>				
    </div>
</div>